@import "tailwindcss";

@theme {
  --font-ledru: "IM FELL Ledru", sans-serif;
  --color-dlavender: #5b21b6;
  --color-lavender: #BC46EB;
}

p {
  margin-bottom: 1.5rem; /* Adjust space between paragraphs */
}

body {
  background-color: #222222;
  color: #d6d3b4;
}

h1 {
  font-size: 2.5rem; /* 2.5 * 16px = 40px */
  font-family: 'IM FELL Ledru';
  color: #a39e6a;
}

h2 {
  font-size: 2rem; /* 1.5 * 16px = 24px */
  font-family: 'IM FELL Ledru';
  color: #938e60;
}

h3 {
  font-size: 1.5rem;
  font-family: 'IM FELL Ledru';
  color: #78754d;
}

h4 {
  font-size: 1.25rem;
  font-family: 'IM FELL Ledru';
  color: #626040;
}

.storytext {
  font-family: 'Courier New';
  padding-left: 0px;
  /*font-weight: bold;*/
}

a {
  color: #BC46EB
}

.rotated-table {
  td {
    border: 0.5px solid #414141;
    text-align: left;
  }
  th.left-align {
    font-size: 1.25rem;
    font-family: 'IM FELL Ledru';
    color: #626040;
    text-align: left;
    vertical-align: bottom;
    padding: 5px 5px;
  }
  th.rotate {
    font-size: 1.25rem;
    font-family: 'IM FELL Ledru';
    color: #626040;
    height: 85px; 
    white-space: nowrap;
    vertical-align: bottom;
    padding: 0;

    div {
      transform: rotate(-90deg); 
      width: 0px;
      margin-left: 20px; 

      span {
        padding: 0px 10px;
      }
    }
  }
}
