<h1>Entities</h1>
<% if @owner %><h3>Next EID Available: <%= @eidnext %></h3><% end %>
<div id="entities">
  <ul>
  <% @entities.each do |entity| %>
    <div>
      <li><strong><%= link_to entity.name, entity_path(entity.id, current_milieu: @milieu) %></strong> (<%=entity.kind%>)
      <% if @owner %><sup><%=entity.eid %></sup><%end%> </li>
      <ul>  
      </ul>
    </div>
  <% end %>
  </ul>
</div>
