<h1>Entities</h1>
<% cache @entities do %>


</p>

<div id="entities">
  <ul>
  <% @entities.each do |entity| %>
    <div>
      <li><strong><%= link_to entity.name, entity_path(entity.id) %></strong> (<%=entity.kind%>)<sup><%=entity.eid %></sup> </li>
      <ul>  
      </ul>
    </div>
  <% end %>
  </ul>
</div>
<% end %>