<h1>Stories</h1>
<strong><%= link_to "Add Chapter", new_story_path %></strong>
<p>
<div id="stories">
  <% @stories.each do |story| %>
    <div>
      <strong><%= link_to story.title, story_path(story.id) %></strong>
    </div>
  <% end %>
  </ul>
</div>

