<p>
<h1>Chapters</h1>
<div id="stories">
  <% @stories.each do |story| %>
    <div>
      <strong><%= link_to story.title, story_path(story.id, current_milieu: @milieu) %></strong>
    </div>
  <% end %>
  </ul>
</div>
</p>

<p>
<% if @milieu.owner == current_user%>
  <strong><%= link_to "Add Chapter", new_story_path %></strong>
<% end %>
</p>
