<p>
<h1>Chapters</h1>
<ul class="list-disc list-inside pl-2">
<div id="stories">
  <% @stories.each do |story| %>
    <div><li class="marker:text-dlavender">
      <strong><%= link_to story.title, story_path(story.id, current_milieu: @milieu) %></strong> 
      <% if @owner %> [<%= story.chapter %>] <% end %>
    </li></div>
  <% end %>
  </ul>
</div>
</p>

<p>
<% if @owner%>
  <strong><%= link_to "Add Chapter", new_story_path(current_milieu: @milieu) %></strong>
<% end %>
</p>
