/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 @import url("./fonts.css");
 @import url("./header.css");
 @import url("./forms.css");
 @import url("./tables.css");

h1, h2 {
  font-family: 'IM FELL Ledru';
}

a {
  color: #BC46EB
}

p {
  margin-bottom: 1.5rem; /* Adjust space between paragraphs */
}

body {
  margin-top: 50px;
  background-color: #222222;
  color: #C9C699;
}

.storytext {
  font-family: 'Courier New';
  /*font-weight: bold;*/
}

.rotate {
  /* Set a fixed height for the header row to accommodate the rotated text */
  height: 140px;
  /* Ensures the text stays on one line before rotation */
  white-space: nowrap; 
}

.rotate span {
  /* Position the span within the th */
  display: block;
  /* Set a specific width that becomes the column width after rotation */
  width: 30px; 
  
  /* Apply the rotation */
  transform: rotate(-90deg);
  /* Adjust the origin of the transform to align correctly */
  transform-origin: 0% 0%; 
  transform: translate(0px, +400%) rotate(-90deg);
  /* You might need to use translate to fine-tune the position */
  /* transform: translate(0px, -100%) rotate(-90deg); */
}

