/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.rotate {
  /* Set a fixed height for the header row to accommodate the rotated text */
  height: 140px;
  /* Ensures the text stays on one line before rotation */
  white-space: nowrap; 
}

.rotate span {
  /* Position the span within the th */
  display: block;
  /* Set a specific width that becomes the column width after rotation */
  width: 30px; 
  
  /* Apply the rotation */
  transform: rotate(-90deg);
  /* Adjust the origin of the transform to align correctly */
  transform-origin: 0% 0%; 
  transform: translate(0px, +400%) rotate(-90deg);
  /* You might need to use translate to fine-tune the position */
  /* transform: translate(0px, -100%) rotate(-90deg); */
}

/* Optional: Add basic table styling for clarity */

.large-text-field {
  width: 80%; /* 400px or a percentage, e.g., 80% */
  height: 1000px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}

th {
  text-align: center;
}

td, tr {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: center;
}

td[data-value=""] { background-color: black; }
td[data-value="0"] { background-color: rgb(38,151,47,0.4); }
td[data-value="1"] { background-color: rgb(39,149,47,0.4); }
td[data-value="2"] { background-color: rgb(40,148,47,0.4); }
td[data-value="3"] { background-color: rgb(41,147,47,0.4); }
td[data-value="4"] { background-color: rgb(42,145,47,0.4); }
td[data-value="5"] { background-color: rgb(43,144,47,0.4); }
td[data-value="6"] { background-color: rgb(45,143,47,0.4); }
td[data-value="7"] { background-color: rgb(46,142,47,0.4); }
td[data-value="8"] { background-color: rgb(47,140,47,0.4); }
td[data-value="9"] { background-color: rgb(48,139,47,0.4); }
td[data-value="10"] { background-color: rgb(49,138,47,0.4); }
td[data-value="11"] { background-color: rgb(50,136,47,0.4); }
td[data-value="12"] { background-color: rgb(52,135,47,0.4); }
td[data-value="13"] { background-color: rgb(53,134,47,0.4); }
td[data-value="14"] { background-color: rgb(54,133,47,0.4); }
td[data-value="15"] { background-color: rgb(55,131,47,0.4); }
td[data-value="16"] { background-color: rgb(56,130,47,0.4); }
td[data-value="17"] { background-color: rgb(58,129,47,0.4); }
td[data-value="18"] { background-color: rgb(59,127,47,0.4); }
td[data-value="19"] { background-color: rgb(60,126,47,0.4); }
td[data-value="20"] { background-color: rgb(61,125,47,0.4); }
td[data-value="21"] { background-color: rgb(62,124,47,0.4); }
td[data-value="22"] { background-color: rgb(63,122,47,0.4); }
td[data-value="23"] { background-color: rgb(65,121,47,0.4); }
td[data-value="24"] { background-color: rgb(66,120,47,0.4); }
td[data-value="25"] { background-color: rgb(67,119,47,0.4); }
td[data-value="26"] { background-color: rgb(68,117,47,0.4); }
td[data-value="27"] { background-color: rgb(69,116,47,0.4); }
td[data-value="28"] { background-color: rgb(71,115,47,0.4); }
td[data-value="29"] { background-color: rgb(72,113,47,0.4); }
td[data-value="30"] { background-color: rgb(73,112,47,0.4); }
td[data-value="31"] { background-color: rgb(74,111,47,0.4); }
td[data-value="32"] { background-color: rgb(75,110,47,0.4); }
td[data-value="33"] { background-color: rgb(76,108,47,0.4); }
td[data-value="34"] { background-color: rgb(78,107,47,0.4); }
td[data-value="35"] { background-color: rgb(79,106,47,0.4); }
td[data-value="36"] { background-color: rgb(80,104,47,0.4); }
td[data-value="37"] { background-color: rgb(81,103,47,0.4); }
td[data-value="38"] { background-color: rgb(82,102,47,0.4); }
td[data-value="39"] { background-color: rgb(84,101,47,0.4); }
td[data-value="40"] { background-color: rgb(85,99,47,0.4); }
td[data-value="41"] { background-color: rgb(86,98,47,0.4); }
td[data-value="42"] { background-color: rgb(87,97,47,0.4); }
td[data-value="43"] { background-color: rgb(88,95,47,0.4); }
td[data-value="44"] { background-color: rgb(89,94,47,0.4); }
td[data-value="45"] { background-color: rgb(91,93,47,0.4); }
td[data-value="46"] { background-color: rgb(92,92,47,0.4); }
td[data-value="47"] { background-color: rgb(93,90,47,0.4); }
td[data-value="48"] { background-color: rgb(94,89,47,0.4); }
td[data-value="49"] { background-color: rgb(95,88,47,0.4); }
td[data-value="50"] { background-color: rgb(97,87,47,0.4); }
td[data-value="51"] { background-color: rgb(98,85,47,0.4); }
td[data-value="52"] { background-color: rgb(99,84,47,0.4); }
td[data-value="53"] { background-color: rgb(100,83,47,0.4); }
td[data-value="54"] { background-color: rgb(101,81,47,0.4); }
td[data-value="55"] { background-color: rgb(102,80,47,0.4); }
td[data-value="56"] { background-color: rgb(104,79,47,0.4); }
td[data-value="57"] { background-color: rgb(105,78,47,0.4); }
td[data-value="58"] { background-color: rgb(106,76,47,0.4); }
td[data-value="59"] { background-color: rgb(107,75,47,0.4); }
td[data-value="60"] { background-color: rgb(108,74,47,0.4); }
td[data-value="61"] { background-color: rgb(109,72,47,0.4); }
td[data-value="62"] { background-color: rgb(111,71,47,0.4); }
td[data-value="63"] { background-color: rgb(112,70,47,0.4); }
td[data-value="64"] { background-color: rgb(113,69,47,0.4); }
td[data-value="65"] { background-color: rgb(114,67,47,0.4); }
td[data-value="66"] { background-color: rgb(115,66,47,0.4); }
td[data-value="67"] { background-color: rgb(117,65,47,0.4); }
td[data-value="68"] { background-color: rgb(118,63,47,0.4); }
td[data-value="69"] { background-color: rgb(119,62,47,0.4); }
td[data-value="70"] { background-color: rgb(120,61,47,0.4); }
td[data-value="71"] { background-color: rgb(121,60,47,0.4); }
td[data-value="72"] { background-color: rgb(122,58,47,0.4); }
td[data-value="73"] { background-color: rgb(124,57,47,0.4); }
td[data-value="74"] { background-color: rgb(125,56,47,0.4); }
td[data-value="75"] { background-color: rgb(126,55,47,0.4); }
td[data-value="76"] { background-color: rgb(127,53,47,0.4); }
td[data-value="77"] { background-color: rgb(128,52,47,0.4); }
td[data-value="78"] { background-color: rgb(130,51,47,0.4); }
td[data-value="79"] { background-color: rgb(131,49,47,0.4); }
td[data-value="80"] { background-color: rgb(132,48,47,0.4); }
td[data-value="81"] { background-color: rgb(133,47,47,0.4); }
td[data-value="82"] { background-color: rgb(134,46,47,0.4); }
td[data-value="83"] { background-color: rgb(135,44,47,0.4); }
td[data-value="84"] { background-color: rgb(137,43,47,0.4); }
td[data-value="85"] { background-color: rgb(138,42,47,0.4); }
td[data-value="86"] { background-color: rgb(139,40,47,0.4); }
td[data-value="87"] { background-color: rgb(140,39,47,0.4); }
td[data-value="88"] { background-color: rgb(141,38,47,0.4); }
td[data-value="89"] { background-color: rgb(143,37,47,0.4); }
td[data-value="90"] { background-color: rgb(144,35,47,0.4); }
td[data-value="91"] { background-color: rgb(145,34,47,0.4); }
td[data-value="92"] { background-color: rgb(146,33,47,0.4); }
td[data-value="93"] { background-color: rgb(147,31,47,0.4); }
td[data-value="94"] { background-color: rgb(148,30,47,0.4); }
td[data-value="95"] { background-color: rgb(150,29,47,0.4); }
td[data-value="96"] { background-color: rgb(151,28,47,0.4); }
td[data-value="97"] { background-color: rgb(152,26,47,0.4); }
td[data-value="98"] { background-color: rgb(153,25,47,0.4); }
td[data-value="99"] { background-color: rgb(154,24,47,0.4); }
td[data-value="100"] { background-color: rgb(156,23,47,0.4); }


table {
  border-collapse: collapse;
}