@font-face {
    font-family: 'IM FELL Ledru';
    src: url('IM_FELL_Ledru.woff2') format('woff2'),
        url('IM_FELL_Ledru.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Courier New';
  src: font-url('cour.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Recommended for better user experience */
}
