
textarea {
  background-color: #333333;
}

.form-button {
  background-color: #555555;
  color: blueviolet
}
.form-select {
  background-color: blueviolet;
  color: #560000;
}

.text-field {
  background-color: #333333;
  width: 300px;
}

.large-text-field {
  width: 320%; /* 400px or a percentage, e.g., 80% */
  height: 800px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}

.large-text-area {
  width: 320%; /* 400px or a percentage, e.g., 80% */
  height: 400px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}

.large-text-tag {
  width: 320%; /* 400px or a percentage, e.g., 80% */
  height: 800px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}

.trix-content ul,
.trix-content ol {
  /* Move bullets inside the list flow, aligning them with text */
  list-style-position: inside;
  padding-left: 0; /* Remove default left padding */
}

.trix-content li {
  /* Ensure consistent alignment */
  text-indent: -1em;
  padding-left: 1em;
}