
textarea {
  background-color: #333333;
}

.text-field {
  background-color: #333333;
  width: 300px;
}

.large-text-field {
  width: 320%; /* 400px or a percentage, e.g., 80% */
  height: 800px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}

.large-text-area {
  width: 320%; /* 400px or a percentage, e.g., 80% */
  height: 400px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}

.large-text-tag {
  width: 320%; /* 400px or a percentage, e.g., 80% */
  height: 800px; /* 50px*/
  font-size: 1em; /* To make the text inside larger */
}