
header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 10px;
  height: 40px;
  z-index: 1;
  font-family: 'IM FELL Ledru';
  background-color: #000000;
  color: #C9C699;
}

span.headerlogo {
  float: right;
  position: relative;
  z-index: -1;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  height: 40px;
  width: auto;
}